@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: #FB9722;
  --color-primary-foreground: #000000;
  --color-title: #A7B5BE;
  --color-secondary-text: #B2B5BB;
  --color-primary-text: #ffffff;
  --color-auth-background: #1B0303;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background-color: #1B0303;
    color: #ffffff;
  }
}
